<table class="table">
    <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      <tr>
        <th><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></th>
        <td> <%= @proveedor.nombre %> </td>
        <th></th>
        <td></td>
      </tr>
</table>
