<hr class='clear' />
<h2 class='items-title'>Items del Comprobante</h2>

<%= f.inputs do %>
  <table width="100%" class='comprobante_detalle_items'>
    <thead>
      <tr>
        <th width="18%">Descripción</th>
        <th width="8%">Cantidad</th>
        <th width="10%"></th>
      </tr>
    </thead>
    <tbody class="details">
      <%= f.semantic_fields_for :detalles do |fd|%>
        <%= render 'detalle_fields', :f => fd %>
      <% end %>
    </tbody>
  </table>

<% end %>

<hr class="clear">
<div class="links">
  <%= link_to_add_association 'Detalle', f,
    :detalles,
    'data-association-insertion-method' => :append,
    'data-association-insertion-node' => '.details',
    :class => 'global_button button'%>
</div>
